* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 40px 72px;

    background-image: url(./assets/mountains-universe.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: #FFFFFF;

}
nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 28px;

    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;

    margin-bottom: 222px;
}
nav a {
    text-decoration: none;
    color: #8D8D99;
}
nav a:hover {
    font-weight: 700;
    color: #FFFFFF;

    cursor: pointer;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
}
p, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
#pages .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

    padding-top: 40px;
}
#pages button {
    padding: 12px 32px;

    border: 2px solid #FFFFFF;
    border-radius: 5px;

    background-color: transparent;
    color: white;

    margin-top: 24px;
}
#pages button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
#pages h1 {
    text-align: left;

    margin-bottom: 16px;
}
#pages p {
    font-size: 18px;
    line-height: 29px;

    width: 648px;
}